@import '~@fluentui/react/dist/sass/References.scss';

.thanhLyTaiSan {
  min-height: 100vh;
  background: #eef3f8;
  font-family: 'Segoe UI', Tahoma, Arial, sans-serif;
}

.teams {
  font-family: $ms-font-family-fallbacks;
}
